/* General */
body {
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-calculator {
    max-width: 320px; /* Tamaño más real */
    margin: 20px auto;
    background-color: #34495e; /* Color grafito oscuro */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
}

/* Pantalla */
.pantalla {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: right;
    padding: 25px;
    font-size: 2.2rem;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5);
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Grilla de Botones */
.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 18px 10px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #ecf0f1;
    color: #2c3e50;
    transition: all 0.2s ease;
    box-shadow: 0px 4px #bdc3c7; /* Sombra inferior para efecto 3D */
}

button:active {
    transform: translateY(3px); /* Se hunde al presionar */
    box-shadow: 0px 1px #bdc3c7;
}

/* Colores Especiales */
.btn-op {
    background-color: #f39c12;
    color: white;
    box-shadow: 0px 4px #d35400;
}

.btn-op:hover { background-color: #e67e22; }

.btn-equal {
    background-color: #27ae60;
    color: white;
    box-shadow: 0px 4px #1e8449;
}

.btn-clear {
    background-color: #e74c3c;
    color: white;
    box-shadow: 0px 4px #c0392b;
}

.btn-cero {
    grid-column: 1 / span 2;
}